<ion-view view-title="Contacts">
  <ion-content>
    <ul class="list">
      <li class="item item-avatar item-icon-right contact-item" ng-repeat="contact in contacts" type="item-text-wrap">
        <img ng-src="{{contact.face}}">
        <h2>{{contact.name}}</h2>
        <p><strong>{{contact.time}}</strong> &nbsp; {{contact.location}}</p>
        <i class="icon ion-record icon-available" ng-if="contact.available === true"></i>
        <i class="icon ion-record icon-unavailable" ng-if="contact.available === false"></i>
        <a class="button button-icon icon icon-second ion-ios-chatbubble-outline icon-apple blue" ng-click="showUnavailableMessagePopup()" ng-if="contact.available === false"></a>
        <a class="button button-icon icon icon-second ion-ios-chatbubble-outline icon-apple blue" ng-click="showAvailableMessagePopup()" ng-if="contact.available === true"></a>
        <a class="button button-icon icon icon-first ion-ios-telephone-outline icon-apple blue" ng-click="showUnavailableCallPopup()" ng-if="contact.available === false" ></a>
        <a class="button button-icon icon icon-first ion-ios-telephone-outline icon-apple blue" ng-click="showAvailableCallPopup()" ng-if="contact.available === true" ></a>
      </li>
    </ul>
  </ion-content>
</ion-view>
